@font-face {
    font-family: nb;
    src: url(../FONT/NBInternationalProBoo.ttf);
}
@font-face {
    font-family: rejoy;
    src: url(../FONT/Rejouice-Headline.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    font-family: nb;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.main{
    width: 100vw;
    height: 100vh;
}
.navbar{
    height: auto;
    width: 100vw;
    background-color: black;
}
.navbar .active{
    font-weight: 500;
}
.navbar .btn {
    margin-left: 1vw;
}