@font-face {
    font-family: nb;
    src: url(./NBInternationalProBoo.ttf);
}

@font-face {
    font-family: rejoy;
    src: url(./Rejouice-Headline.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: white;
}

@keyframes color{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

#Main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

#main {
    margin:-8vw auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vw 15vw;
}

#Backbtn{
    margin: 2vw;
    padding: 0.5vw;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 2vw;
    position:sticky;
}

#Backbtn1,
#Backbtn2 {
    position: relative;
    display: flex;
    color: rgba(146, 44, 44, 0.466);
}

#Backbtn2 {
    display: none; 
}

#login {
    width: 100%;
    height: 100%;
    display: flex;
}

/* Login 1 */
#login1 {
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    height: auto;
    width: 100%;
    background-color:rgba(146, 44, 44, 0.466);
    padding: 2.5vw;
    font-family: nb;
}

#login1 button {
    border: 2px solid black;
    width: 10vw;
    height: 3vw;
    border-radius: 25px;
    background-color: white;
    font-family: rejoy;
    font-weight: 100;
    font-size: 1.5vw;
}

#login1 button:hover{
    font-size: 2vw;
}

#icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 65%;
    margin: 2vw auto;
    margin-bottom: 0;
}

#icons button{
    width: auto;
    background-color: transparent;
    border: none;
}

#icons i{
    width: 2vw;
    height: 2vw;
    font-size: 2vw;
    cursor:pointer;
    color: black;
}

#login1 form {
    margin-top: 0;
    padding: 1.5vw;
    display: flex;
    flex-direction: column;
}

#login1 form h4 {
    font-family: nb;
    margin: 0.4vw 0;
    font-size: 1.3vw;
    color:black;
}

#login1 form h5{
    font-family: nb;
    color:black;
    margin: auto;
    font-size: 1vw;
    padding: 1vw;
} 

#login1 form input {
    font-family: nb;
    margin: 0.4vw 0;
    font-size: 1.3vw;
    border-radius: 10px;
    height: 2.2vw;
    border: none; 
}


#login1 form input:focus{
    border: 4px solid;
    border-color: #A3C8FD;
    outline: none;
}

#login1 #btn{
    font-family: rejoy;
    background-color: white;
    width: 50%;
    border-radius: 30px;
    margin: auto;
    padding: 0.5vw;
    cursor:pointer;
}


/* Captcha */
#captcha {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#image {
    font-family: rejoy;
    border: 1px solid black;
    width: 25%;
    height: 2vw;
    text-align: center;
    font-size: 1.5vw;
    background-color: white;
    user-select: none;
    text-decoration: line-through;
    font-style: italic;
    font-size: x-large;
    color: black;
}

#form #user-input {
    width: auto;
    margin-right: 10px;
    padding: 10px;
    padding-bottom: 0px;
    height: 40px;
}

#form input {
    border: 1px black solid;
}

#form .inline {
    display: inline-block;
}

#form #key {
    font-family: nb;
    text-align: center;
    color: black;
}

#reload{
    color: black;
}

/* Login 2 */
#login2 {
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    height: auto;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    font-family: rejoy;
    font-size: 1.5vw;
    padding: 2.5vw;
}

#login2 button{
    border: 2px solid black;
    width: 10vw;
    height: 3vw;
    border-radius: 25px;
    font-family: rejoy;
    font-weight: 100;
    font-size: 1.5vw;
    padding: 0.5vw;
    color: black;
    background-color: rgba(146, 44, 44, 0.466);
    cursor:pointer;
}

#login2 #Text1{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Text1 h1{
    font-size: 1.5vw;
}

#Text1 h1 span{
    font-size: 2.5vw;
}

#Text1 img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

/* Signup 2 */
#signup {
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0;
}

#signup1 {
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    /* height: 75vh; */
    width: 100%;
    background-color: rgba(146, 44, 44, 0.466) ;
    padding: 2.5vw;
}

#signup1 button {
    border: 2px solid black;
    width: 10vw;
    height: 3vw;
    border-radius: 25px;
    background-color: white;
    font-family: rejoy;
    font-weight: 100;
    font-size: 1.5vw;
}

/* Signup 2 */
#signup2 {
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    width: 100%;
    background-color: white;
    font-family: rejoy;
    font-size: 1.5vw;
    padding: 2.5vw;
}

#signup2 button{
    border: 2px solid black;
    width: 10vw;
    height: 3vw;
    border-radius: 25px;
    font-family: rejoy;
    font-weight: 100;
    font-size: 1.5vw;
    padding: 0.5vw;
    color: black;
    background-color:rgba(146, 44, 44, 0.466);
    cursor:pointer;
}

#signup2 #Text2{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#signup1 #icons button{
    background-color: transparent;
    border: none;
    width: auto;
} 

#signup1 #icons i{
    width: 2vw;
    height: 2vw;
    font-size: 2vw;
    cursor:pointer;
    color: black;
}

#Text2 h1{
    font-size: 1.5vw;
}

#Text2 h1 span{
    font-size: 2.5vw;
}

#Text2 img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.sform{
    color: black;
    font-size: 1vw;
    font-family: nb;
    padding: 0.5vw;
    display: flex;
    flex-direction: column;
}

.sform .name{
    display: flex;
    justify-content: space-evenly;
}

.name #fname{
    display: flex;
    width: calc(100% - 50%);
    flex-direction: column;
}

.name #lname{
    display: flex;
    width: calc(100% - 50%);
    flex-direction: column;
}

.sform input{
    align-items: center;
    width: 95%;
    font-family: nb;
    margin: 0.4vw 0;
    font-size: 1.3vw;
    height: 2vw;
    border-radius: 10px;
    border: none;
    box-shadow: none;
}

.sform input:focus{
    border: 4px solid;
    border-color: #A3C8FD;
    outline: none;
}

#signup1 .btn{
    margin: auto;
    width: 50%;
    font-size: 1.5vw;
    height: 2.5vw;
    margin-top: 1.5vw;
}