@font-face {
    font-family: nb;
    src: url(./NBInternationalProBoo.ttf);
}

@font-face {
    font-family: rejoy;
    src: url(./Rejouice-Headline.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: rgba(55, 0, 255, 0.415);
    /* background-image: url(./IMG/Login.jpg);
    object-fit: cover;
    background-position: center; */
}

#main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vw 15vw;
}

#login {
    width: 100%;
    height: 100%;
    display: flex;
}

/* Login 1 */
#login1 {
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    /* height: 75vh; */
    height: auto;
    width: 100%;
    background-color: rgba(55, 0, 255, 0.64);
    padding: 2.5vw;
    font-family: nb;
}

#login1 button {
    border: 2px solid black;
    width: 10vw;
    height: 3vw;
    border-radius: 25px;
    background-color: white;
    font-family: rejoy;
    font-weight: 100;
    font-size: 1.5vw;
}

#icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 65%;
    margin: 2vw auto;
    margin-bottom: 0;
}

#icons i{
    width: 2vw;
    height: 2vw;
    font-size: 2vw;
    cursor:pointer;
    color: white;
}

#login1 form {
    margin-top: 0;
    padding: 1.5vw;
    display: flex;
    flex-direction: column;
}

#login1 form h4 {
    font-family: nb;
    margin: 0.4vw 0;
    font-size: 1.3vw;
    color:white;
}

#login1 form h5{
    font-family: nb;
    color:white;
    margin: auto;
    font-size: 1vw;
    padding: 1vw;
} 

#login1 form input {
    font-family: nb;
    margin: 0.4vw 0;
    font-size: 1.3vw;
    border-radius: 10px;
}

#login1 #btn{
    font-family: rejoy;
    background-color: white;
    width: 50%;
    border-radius: 30px;
    margin: auto;
    padding: 0.6vw;
    cursor:pointer;
}


/* Captcha */
#captcha{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#image{
    font-family: rejoy;
    border: 1px solid black;
    width: 25%;    
    height: 2vw;
    text-align: center;
    font-size: 1.5vw;
    background-color: white;
    user-select: none;
    text-decoration:line-through;
    font-style: italic;
    font-size: x-large;
    color: black; 
}
#form #user-input{
    width: auto;
    margin-right: 10px;
    padding: 10px;
    padding-bottom: 0px;
    height: 40px;
}
#form input{
    border:1px black solid;
}

#form .inline{
    display:inline-block;
}

#form #key{
    font-family: nb;
    text-align: center;
    color: white;
}

/* Login 2 */
#login2 {
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    /* height: 75vh; */
    height: auto;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: center; 
    align-items: center; */
    font-family: rejoy;
    font-size: 1.5vw;
    padding: 2.5vw;
}

#login2 button{
    border: 2px solid black;
    width: 10vw;
    height: 3vw;
    border-radius: 25px;
    font-family: rejoy;
    font-weight: 100;
    font-size: 1.5vw;
    padding: 0.5vw;
    color: white;
    background-color: rgba(55, 0, 255, 0.64);
    cursor:pointer;
}

#login2 #Text1{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Text1 h1{
    font-size: 1.5vw;
}

#Text1 h1 span{
    font-size: 2.5vw;
}

#Text1 img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

/* Signup 2 */
#signup {
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0;
}

#signup1 {
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    /* height: 75vh; */
    width: 100%;
    background-color: rgba(55, 0, 255, 0.64);
    padding: 2.5vw;
}

#signup1 button {
    border: 2px solid black;
    width: 10vw;
    height: 3vw;
    border-radius: 25px;
    background-color: white;
    font-family: rejoy;
    font-weight: 100;
    font-size: 1.5vw;
}

/* Signup 2 */
#signup2 {
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    /* height: 75vh; */
    width: 100%;
    background-color: white;
    font-family: rejoy;
    font-size: 1.5vw;
    padding: 2.5vw;
}

#signup2 button{
    border: 2px solid black;
    width: 10vw;
    height: 3vw;
    border-radius: 25px;
    font-family: rejoy;
    font-weight: 100;
    font-size: 1.5vw;
    padding: 0.5vw;
    color: white;
    background-color:rgba(55, 0, 255, 0.64);
    cursor:pointer;
}

#signup2 #Text2{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Text2 h1{
    font-size: 1.5vw;
}

#Text2 h1 span{
    font-size: 2.5vw;
}

#Text2 img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}